

.label_rebin {
    height: 40px;
    background-color: var(--primary-main);
    color: var(--main-white);
    padding: 21px 10px;
}

.ribin_1 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.ribin_2 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.send_btn {
    background-color: var(--primary-main);
    color: var(--main-white);
    padding: 9px 42px;
    border-radius: 6px;
    min-width: 182px;
}

.send_btn:hover {
    background-color: var(--primary-dark);
}

.cancel_btn {
    background-color: var(--light-gray);
    color: var(--main-black);
    padding: 9px 35px;
    margin: 0 27px 0 0;
    border-radius: 6px;
}

.cancel_btn:hover {
    background-color: var(--light-gray);
}

.spinner_custom {
    height: 1.2rem !important;
    width: 1.2rem !important;
}
/* 
.trans_box {
    height: 200px;
    width: 180px;
    color: var(--primary-dark);

    background: var(--main-white) 0% 0% no-repeat padding-box;
    border: 2px solid var(--primary-main);
    border-radius: 8px;
    opacity: 1;
} */
/* 
.horizantal_line {
    background-color: var(--default-black);
    height: 1px;

} */

/* .lock_card_label {
    color: var(--default-black);
  font-weight: 500;

} */

/* .upper_heading {
    font-size: 17px;
  
    
} */



.modal_class {
    min-width: 800px;
}
.card_img_cnf {
    height: 100%;
    border-radius: 8px;
    height: 340px;
    width: 100%;
}
.car_name_field{
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}
.date_field_icon{
    color: var(--light-gray);
}
.price_tag{
    font-size: 22px;
    font-weight: bold;
    color: var(--primary-dark);
}
/* .price_box {
    font-size: 22px;
    font-weight: bold;
    height: 150px;
    width: 150px;
    box-shadow: var(--confirm-booking-card-shadow);
    color: var(--primary-dark);
    background-color:  #edf5ff;
    border: 2px solid var(--primary-light  );
    border-radius: 8px;
    opacity: 1;
} */



.location_field {

    text-wrap: wrap;
    font-size: large;
    border: 1px solid var(--light-gray);
    color: var(--default-black);
    border-radius: 10px;
}

.date_field {

    text-wrap: wrap;
    font-size: large;
    border: 1px solid var(--light-gray);
    color: var(--default-black);
    border-radius: 10px;
}

.popup_heading {
    color: var(--primary-main);
    font-size: 30px;
}