.booking_img_owner {
    height:100px ;
    width: 100px;
    border-radius: 10%;
}
.name_field{
    /* margin-left: -80px; */
    font-weight: bold;
    text-align:left
}
.lable_field{
    color: var(--dark-gray);
    font-size: 15px;
    font-weight: bold;
    
}
.detail_field{
    font-size: 16px;
    color: var(--default-black);
}
.main_ctn{
    /* background-image: url('../../../../../assets/auth2.svg'); */
    background-image: var(--card-background-illutration);
    background-repeat: no-repeat;
    background-size: 280%;
}
.accept_reject_btn{
 padding-inline: 7px;
  margin-top: -3px;
  margin-bottom: 3px;
  
  font-size: 16px;
}
.accept_btn{
    padding: 5px; 
    width: 120px;
    border-radius: 8px;
}
.reject_btn{
    padding: 5px;
    border-radius: 8px;
    width: 120px;
}
.complete_btn{
    padding: 5px;
    border-radius: 10px;
    width: 160px;
    
}
.booking_card_body{
    box-shadow: var(--main-booking-card);
    border-radius: 8px;
    /* margin-top: 10px; */
}