/* .driver_card{
    color: var(--dark-gray);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}
.driver_card_ctn{
         background-image: url('../../../../assets/auth2.svg');
    background-repeat: no-repeat;
    background-size: 170%;

}
.verticle-line {
    border-style: dashed;
    border-color: var(--light-gray);
    border-width: 1px;
    height: 190px;
}

.card_image {
    border-radius: 10px;
    height: 200px;
    width: 100%;
}

.tex_area {
    min-height: 50px;
    max-height: 50px;
    width: 100%;
}

.name_style {
    font-size: medium;
    width: 200px
}
.driver-card-data{
    word-wrap: break-word ;
    
}
.driver_action_btn {
    background-color: var(--primary-main);
    color: var(--main-white);
    padding: 5px 15px;
    font-size: 13px;
    border-radius: 8px;
}

.driver_action_btn:hover {
    background-color: var(--primary-dark);
    color: var(--main-white);
}

.License_btn {
    background-color: var(--primary-main);
    color: var(--main-white);
    padding: 5px 30px;
    border-radius: 8px;
}
.License_btn:hover{
    background-color: var(--primary-dark);
    color: var(--main-white);
}
.margin-left {
    margin-left: 150px !important;
}

.License_img {
    height: 350px;
    margin-top: 10px;
    margin-left: 40px;
} */

.driver_card_image {
    /* margin-top: 10px; */
    height: 150px;
    width: 150px;
    border-radius: 10%;
}
.horizantal_line_driver {
    /* margin-top: 10px; */
    border-bottom: 1px solid var(--light-gray);
}

.driver_profile_card {
    box-shadow: var(--main-booking-card);
    /* height: 330px; */
    height: 315px;
    border-radius: 10px;
    padding: 4px;
    /* background-image: url('../../../../../assets/auth2.svg'); */
    background-image: var(--card-background-illutration);
    background-color: var(--card-background);
    background-repeat: no-repeat;
    background-size: 170%;
}
.driver_card_profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 3px;
    background-color: var(--primary-light);
}
.driver_action_btn {
    background-color: var(--primary-main);
    color: var(--main-white);
    /* padding: 8px 18px; */
    /* font-size: 115px; */
    /* padding: 10px 12px; */
    /* font-size: 16px; */
    border-radius: 8px;
}

.driver_action_btn:hover {
    background-color: var(--primary-dark);
    color: var(--main-white);
}
.top_btn {
    padding: 7px 15px;
    font-size: 16px;
}
