
.booking_img_owner {
    height: 230px;
    width: 100%;
    border-radius: 10px;
}
.bookings_ctn{
    min-height: calc(100vh - 110px);
}
.navigate_img {
    height: 400px;
    width: 400px;
    transform: scaleX(-1); /* For horizontal flip */
    /* OR */
    /* transform: scaleY(-1); */ /* For vertical flip */
}
.heading_navigate{
    /* margin-bottom: 40px;
    opacity: 10000; */
}
.navigate_div{
    height: calc(100vh - 200px);
    flex-direction: column;
    color: var(--dark-gray);
}