.navbar_bg{
    /* box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25); */
    box-shadow: var(--owner-navbar-shadow);
    height: 80px;
    border-radius: 10px;
    background-color: var(--main-white) !important;
    margin: 13px;
    padding-inline-end: 8px;

    color: var(--main-black);
}

.nav-colo-1 {
    background-image: radial-gradient(circle 588px at 31.7% 40.2%, rgba(225, 200, 239, 1) 21.4%, rgba(163, 225, 233, 1) 57.1%);
}
.logo_img{
    height: 70px;
    width: 120px;
}
.profile_box{
    height: 60px;
    min-width: 250px;
    /* background: #222; */
    color: var(--main-black);
    border-radius: 8px;
    border-top-left-radius: 33px;
    border-bottom-left-radius: 33px;
}
.profile_img{
    margin-left: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}