.filter_checkBox {
    font-size: 20px !important;
}
.filter_lable {
    font-size: 16px;
    color: var(--dark-gray);
}
.filter_heading {
    color: var(--dark-gray);
    font-size: 24px;
}
.apply_filter_btn {
    background-color: transparent;
    border: 2px solid var(--primary-main);
    color: var(--primary-main);
    border-radius: 8px;
    padding: 5px 30px;
}
.apply_filter_btn:hover {
    background-color: var(--primary-main);
    color: var(--main-white);
}
.search_input {
    padding-right: 45px;
    /* border-radius: 33px !important; */
}
.search_btn {
    margin-left: -40px;
    opacity: 0.5;
    border-left: 2px solid var(--dark-gray);
    padding-left: 10px;
}
