/* All Modals Header Css */
.modal_head_txt {
    color: var(--primary-dark);
    font-size: 20px;
}

.modal_close_icon {
    /* color: #fff; */
    color: var(--main-white);
    cursor: pointer;
    font-size: 29px;
}

.close_bg {
    background: var(--primary-dark);
    height: 35px;
    width: 35px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.rs-picker-input {
    align-items: center !important;
    display: flex !important;
    min-height: 3.4rem !important;
    width: 300px !important;
}

.rs-picker-toggle-active,
.rs-picker.rs-picker-focused {
    -webkit-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    box-shadow: none !important;
    box-shadow: none !important;
}

.rs-picker.rs-picker-focused,
.rs-picker:not(.rs-picker-disabled):hover {
    border-color: none !important;
    border-color: none !important;
}

.tagInput {
    background-color: var(--card-background) !important;
    color: var(--primary-main) !important;
}
.rs-picker-default .rs-btn,
.rs-picker-default .rs-picker-toggle,
.rs-picker-input .rs-btn,
.rs-picker-input .rs-picker-toggle {
    background-color: transparent !important;
}
.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    color: var(--primary-dark) !important;
}
.rs-picker-menu {
    background-color: var(--card-background) !important;
    color: var(--primary-dark) !important;
}
.rs-picker-select-menu-item {
    color: var(--primary-dark) !important;
}
.rs-pagination-btn.rs-pagination-btn-active {
    /* background-color: var(--primary-dark) !important; */
    border: 1px solid var(--primary-dark);
}
.rs-pagination-btn {
    color: var(--primary-dark) !important;
}
.rs-pagination-btn.rs-pagination-btn-active:focus,
.rs-pagination-btn.rs-pagination-btn-active:hover {
    border: 1px solid var(--rs-gray-200);
}
