@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--background); */
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--primary-main) !important;
}

.light-theme {
    --primary-main: #1e81f6;
    --primary-light: #4c75d3;
    --primary-dark: #0e56ab;

    --secondary-main: #f28924;
    --secondary-light: #f2a94e;
    --secondary-dark: #e1671e;

    --white-boxshadow: 0px 0px 20px #00000014;

    --error-main: #d32f2f;
    --error-light: #ef5350;
    --error-dark: #c62828;

    --success-main: #06923e;
    --success-light: #37a764;
    --success-dark: #04662b;

    --warning-main: #ed6c02;
    --warning-light: #ff9800;
    --warning-dark: #e65100;

    --info-main: #0288d1;
    --info-light: #03a9f4;
    --info-dark: #01579b;

    --main-white: #fff;

    --main-black: #252b48;
    --light-black: #445069;

    --dark-golden: darkgoldenrod;
    --main-red: rgb(255, 0, 0);

    --dark-gray: #5a607f;
    --medium-gray: #f4f7fc;
    --light-gray: #d5d7e3;
    --light-gray-hover: #eeeded;
    /* --background: #f6f5f5; */
    --background: #f5f8fed2;
    --card-background: #fff;
    --card-container-background: #d0d4e01a;
    /* shadows */
    /* --main-boxshadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25); */
    --main-boxshadow: 0px 0px 3px 0px rgba(0, 28, 36, 0.3);
    --main-booking-card: 0 1px 1px 0 rgba(0, 28, 36, 0.3),
    1px 1px 1px 0 rgba(0, 28, 36, 0.15),
    -1px 1px 1px 0 rgba(0, 28, 36, 0.15);
    /* --main-booking-card: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    /* --main-booking-card: rgba(0, 0, 0, 0.12) 0px 3px 6px,rgba(0, 0, 0, -0.77) 0px 3px 6px; */
    --main-userbooking-card: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --navbar-shadow: 0 3px 5px -5px #252b48;
    --confirm-booking-card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --vehicle-card-boxshadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    --user-booking-card-image-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    --counter-card-shadow: 2px 2px 10px #dadada;
    --owner-navbar-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    --login-page-shadow: 0px 0px 30px -10px rgb(0 0 0 / 20%);
    --create-vehicle-form-shadow: 0px 0px 10px #37a764;

    --white-boxshadow: 0px 0px 20px #00000014;
    --dropdown-shadow: 0px 0px 10px #0000001a;
    --card-background-illutration: url('./assets/auth3.svg');

    /* color: var(--primary-main); */
    background-color: var(--background);

    --admin-count-card: linear-gradient(
        90deg,
        rgb(17, 93, 207) 0%,
        rgb(20, 204, 236) 100%
    );

    --count-icon-bg: #d8e8fd;
    --count-icon-border: #d8e8fd;
    --delete-bg-red: #fedada;
}

.dark-theme {
    --primary-main: #cbe4ff;
    --primary-light: #cbe4ff;
    --primary-dark: #b9e4ff;

    --secondary-main: #f28924;
    --secondary-light: #f2a94e;
    --secondary-dark: #e1671e;

    --white-boxshadow: 0px 0px 20px #00000014;

    --error-main: #d32f2f;
    --error-light: #ef5350;
    --error-dark: #c62828;

    --success-main: #06923e;
    --success-light: #37a764;
    --success-dark: #04662b;

    --warning-main: #ed6c02;
    --warning-light: #ff9800;
    --warning-dark: #e65100;

    --info-main: #0288d1;
    --info-light: #03a9f4;
    --info-dark: #01579b;

    --main-white: #474e68; /* Invert background color */

    --main-black: #ffffff; /* Invert text color */
    --light-black: #cbe4ff;

    --dark-gray: #ffffff; /* Swap dark and light grays */
    --medium-gray: #5a607f;
    --light-gray: #8a8c9440; /* #617285  */
    --light-gray-hover: #55647f59;

    --background: #404258; /* Set background to a dark color */

    --card-background: #474e68;
    --card-container-background: #6262621a;
    /* shadows */
    /* --main-boxshadow: 0 2px 10px -2px rgb(43, 38, 57); */
    --main-boxshadow: 0px 0px 3px 0px rgb(43, 38, 57);
    --main-booking-card: 0 1px 1px 0 rgba(0, 28, 36, 0.3),
        1px 1px 1px 0 rgba(0, 28, 36, 0.15),
        -1px 1px 1px 0 rgba(0, 28, 36, 0.15);
    /* --main-booking-card: 0 1px 1px 0 rgba(128, 128, 128, 0.3), 1px 1px 1px 0 rgba(128, 128, 128, .15), -1px 1px 1px 0 rgba(128, 128, 128, .15); */
    /* --main-booking-card: rgba(0, 0, 0, 0.16) 0px 3px 6px,rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    --main-userbooking-card: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --navbar-shadow: 0 2px 8px -4px #252b48;
    --confirm-booking-card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --vehicle-card-boxshadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    --user-booking-card-image-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    --counter-card-shadow: 2px 2px 10px #dadada;
    --owner-navbar-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    --login-page-shadow: 0px 0px 30px -10px rgb(0 0 0 / 20%);
    --create-vehicle-form-shadow: 0px 0px 10px #37a764;
    --white-boxshadow: 0px 0px 20px #00000014;
    --dropdown-shadow: 0px 0px 10px #0000001a;

    --card-background-illutration: url('./assets/auth2Dark.svg');

    --dark-golden: darkgoldenrod;
    --main-red: rgb(255, 0, 0);
    --rs-gray-0: red !important;

    background-color: var(--background);

    --admin-count-card: linear-gradient(
        90deg,
        rgb(17, 93, 207) 0%,
        rgb(20, 204, 236) 100%
    );

    /* #cbe4ff */
    /* #404258 */
    /* #474E68 */

    color: var(--primary-main);
    background-color: var(--background);
    --count-icon-bg: transparent;
    --count-icon-border: #d8e8fd;
    --delete-bg-red: #fedada;
}

.popover_custom {
    padding: 0 !important;
    /* margin: 0 !important; */
}

form input,
textarea {
    background-color: var(--background) !important;
    color: var(--main-black) !important;
}

input::placeholder {
    color: var(
        --main-black
    ) !important; /* Replace with your desired color name */
}

.modal-body-custom {
    background-color: var(--card-background) !important;
    border-radius: var(--bs-modal-border-radius);
    /* color: var(--primary-dark) !important; */
}

div:where(.swal2-container) div:where(.swal2-popup) {
    background-color: var(--card-background) !important;
    border-radius: var(--bs-modal-border-radius);

    color: var(--primary-dark) !important;
}

.push-notification {
    background-color: var(--card-background) !important;
    border-radius: var(--bs-modal-border-radius);
    color: var(--primary-dark) !important;
}
.push-notification .push-notification-title {
    color: var(--primary-dark) !important;
    font-size: medium;
}
.push-notification .push-notification-text {
    color: var(--primary-dark) !important;
    font-size: small;
}

.data_main_ctn .nav-link.active {
    background-color: var(--card-background) !important;
    border-bottom: transparent;
}

.rs-popover-arrow::after {
    border-bottom-color: transparent !important;
}
