#div1{
    padding-left: 35px;
    /* background-color: #fff; */
    background: var(--main-white);
}
.img_main{
    max-width: 100%px;
    max-height: 300px;
} */

#img-div{
    text-transform: capitalize;
}
@media (max-width: 575px){
    #img-div{
        display: none;
    }
   
}
#validation-from{
    font-size: 12px;
}
.main_bg_colore{
   background-color: var(--primary-main);
}
.main_colore{
    color: var(--primary-main);
}
.error_size{
    font-size: 12px;
}
#bg{
    background-color: var(--primary-main);
}
#btn{
    height: 40px;
    background-color: var(--primary-main);
}
#btn:hover{
    background-color: var(--primary-dark);
}
