.login_ctn {
    width: 100vw;
    min-height: 100vh;
    flex-direction: row;
   
    background-color: var(--primary-main);  
}

.btn-lg {
    width: 200px;
    height: 30px;
    align-items: center;

}

.login {
    font-size: 15px;
}

.btn_login {
    background: none;
    border: none;
    color: var(--primary-main);
}

.btn_login:hover {
    cursor: pointer;
    color: --primary-dark;
    text-decoration: underline;
}

.element {
    font-size: 12px;
}

.btn_singup {
    height: 40px;
    /* color: #fff; */
    color: var(--main-white);
    border: none;
    background: var(--primary-main);
    border-color: var(--primary-main);

}

.btn_signWgoogle {
    border-width: 1px;
    height: 40px;
    text-align: center;
    background: none;

}
.btn_signWgoogle:hover{
    color: var(--primary-main);
}

.ext_text{
    color: var(--primary-dark);
    font-size: 15px;
}