.user_booking_card {
    box-shadow: var(--main-userbooking-card);
    color: var(--dark-gray);
    border-radius: 10px;
    /* background-image: url('../../../../.././assets/auth2.svg'); */
     background-image: var(--card-background-illutration);
    background-repeat: no-repeat;
    background-size: 130%;font-weight: 500px !important;
    background-color: var(--card-background );
   
}

.booking_imgss {
    box-shadow: var(--user-booking-card-image-shadow);
    height: 105px; 
    width: 130px;
    border-radius: 10px;
   
}

.font_colr {
    color: var(--dark-gray);
}
.user_booking_small_font{
 font-size: 10px !important;
 font-weight: 500px !important;
 color: var(--dark-gray);
}

.custom-btn {
    
    padding: 7px 32px; 
    background-color:var(--primary-main); 
    color: var(--main-white);
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}
  
  .custom-btn:hover {
    background-color:var(--primary-dark); 

  }
.custom-btn-non-primary {
    background-color:var(--light-gray)!important; 
    color: var(--dark-gray);
    
  }
  
  .custom-btn-non-primary:hover {
    background-color:var(--light-gray-hover)!important; 
    color: var(--dark-gray);

  }

.user_booking_image {

    min-height: 120px;
    max-height: 120px;  
    border-radius: 10px;
}
.main_profile_edit{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .main_profile_edit{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 766px) and (max-width: 900px)
{
  .booking_imgss {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    height: 90px; 
    width: 100px;
    border-radius: 10px;
   
}

}