.user_vehicle_card_ctn {
    max-width: 100%;
    min-height: calc(100vh - 365px);
    max-height: calc(100vh - 365px);
}

.data_main_ctn {
    box-shadow: var(--main-boxshadow);
    background-color: var(--card-background);
    /* background-color: red; */
    border-radius: 14px;
    /* padding-inline: 10px; */
}
.filters_col {
    background-color: var(--background);
}
.inner_filter {
    background-color: var(--main-white);
    box-shadow: var(--main-boxshadow);
    padding-inline: 20px;
    padding-block: 20px;
    min-height: calc(100vh - 117px);
    max-height: calc(100vh - 117px);
    border-radius: 10px;
}

.admin_filer {
    min-height: calc(100vh - 205px);
    max-height: calc(100vh - 205px);
}
