.search_all{
    background: var(--main-white);
    border-radius: 10px;
    box-shadow: var(--navbar-shadow);

}

.search_button{
    background: transparent;
    background-color: var(--primary-main);
    color: var(--main-white);
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 5px
}
.search_button:hover{
    background-color: var(--primary-dark);
}

.form_widt::placeholder {
  font-size: 0.8rem; 
}

.form_widt::placeholder{
  font-size: 0.8rem;
}
