.user_booking_card {
    box-shadow: var(--main-booking-card);
    color: var(--dark-gray);
    border-radius: 10px;
    background-color: var(--card-background );
}

.driver_card_img_div {
    height: 150px;
    width: 100%;
    border-radius: 10px;
}

.booking_img {
    height: 150px;
    width: 100%;
    border-radius: 10px;
}

.bookings_user_ctn{
    max-width: 100%;
    min-height: calc(100vh - 125px);
    max-height: calc(100vh - 125px);
}