#main-card{
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  box-shadow: var(--main-booking-card);
  color: var(--dark-gray);
 
  border-radius: 10px;
}
.user_image{
  border-radius: 8px;
  height: 120px;
    width: 100%;
}
#main_card1{
  background: var(--main-white);
}
 .fixed-row {
  position: fixed;
  display: flex;
  top: 90px;
  left: 12px;
  width: 100%; 
  z-index: 1000;
 
}
.content-row {
  top: 160px;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  
}
.main-div{
  border-radius: 10px;
}
.div-scroll{
  display: none;
} 

.custom-btn {
  border-radius: 50px;
}
.custom-btn:hover{
  background-color: var(--primary-main) ;
}
.main-border{
  /* border-top-style: groove;
  border-bottom: groove; */
  border-top: 2px solid var(--light-gray);
  border-bottom: 2px solid var(--light-gray);
}

.main-border1{
  /* border-bottom: groove;
  border-top: groove; */
  border-top: 2px solid var(--light-gray);
    border-bottom: 2px solid var(--light-gray);
}
.main-left{
  border-right: dotted;
}
.elment{
  font-size: 16px;;
  font-weight: bold;
}
#main_loder{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
