.notification_image{
  border: 2px solid var(--primary-main);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.notification_font{
  font-size: 18px;
  color: var(--dark-gray);

}
.notification_main{
  box-sizing: border-box;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  border-radius: 8px;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */

}

#custom-dropdown-toggle {
  background-color: transparent;
  border: none;
}

#custom-dropdown-toggle::after {
  content: none; 
}
.custom-icon{
  color: var(--primary-main);
  font-size: 20px;
  background: none;
  border: none;
}
.custom-dropdown-menu {
  border: none; 
  box-shadow: none; 
  padding: 0; 
}

.custom-dropdown-menu .dropdown-item {
  text-decoration: none;
}
.custom-margin_date{
  
}
.resont_text{
  font-size: 18px;
}