/* .gradient-custom {
    
    background-color: var(--primary-main);

    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1)) */
    
    /* .save-button,
    .reject-button {
      padding: 5px 10px;
      margin-left: 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: var(--primary-main);
    }
.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 30px;
   
  }
.main-button{
  background-color: red;
}


.user-image-notification {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* margin-right: 15px; */
 

/* .user-image-text{
  font-size: 15px;
  padding-left: 20px;
}
#container{
  height: 20px;
}
.modal-content {
  border-radius: 10px; 
}

.modal-footer { */
  /* border-top: none; 
}

.custom-card {
  border: none !important;
}
.main_text{
  font-size: 15px;
  color: var(--dark-gray);
} */ 


