
.error_text{
    padding: 10px;
    color: var(--primary-main);
}

.page_notFound_btn{
  
}
.button{
  height: 50px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  background-color:var(--primary-main) ;
 color:var(--main-white);
 border-radius: 33px;
 
}
