.type_ctn {
    min-height: 100vh;
    background-image: url('https://images.pexels.com/photos/97075/pexels-photo-97075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.role_head {
    color: var(--main-black);
    font-size: 80px;
}

.form_box_role {
    /* background-color: rgb(245 245 245); */
    /* background-color: #fff; */
    background: var(--main-white);
    padding-block: 100px;
    padding-inline: 40px;
    border-radius: 8px;
    min-height: 485px;
    min-width: 943px;
}

.role_box {
    background-color: var(--main-white);
    height: 200px;
    width: 200px;
    border-radius: 14px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: var(--confirm-booking-card-shadow);
    cursor: pointer;
    position: relative;
    transition: transform 0.3s;
    color: var(--main-black);
}

.role_box:hover {
    /* background-color: var(--primary-main); */
    border: 3px solid var(--primary-main);
    /* color: var(--main-white); */
    transform: scale(1.05);
}

.box_active {
    border: 3px solid var(--primary-main);
    /* color: var(--main-white); */
    transform: scale(1.05);
}

.role_img {
    height: 150px;
    width: 150px;
}

.continue_btn {
    background-color: var(--primary-main);
    color: var(--main-white);
    border: none;
    border-radius: 6px;
    padding: 9px 42px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    min-width: 152px;
    transition: transform 0.3s;
}

.continue_btn:hover {
    /* transform: scale(1.05); */
    transition: 0.3s;
    background-color: var(--primary-dark);
}

.back_btn {
    background: transparent;
    border: none;
    color: var(--primary-main);
    font-size: 18px;
    transition: transform 0.3s;
}
.back_btn:hover {
    color: var(--primary-dark);
    transition: 0.4s;
}

.role_txt {
    font-size: 23px;
}

.dot_div {
    margin-top: -50px;
}

.progress_dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    /* background: gray; */
    background: var(--dark-gray);
    cursor: pointer;
}

.active_dot {
    background: var(--primary-dark);
}
.image_box {
    border: 3px dashed var(--primary-main);
    border-radius: 14px;
    height: 230px;
    width: 200px;
    /* padding: 14px; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    background: var(--main-white);
    cursor: pointer;
}

.upload_txt {
    font-size: 16px;
    color: var(--dark-gray);
    margin-top: 10px;
}

.input__field {
    height: 3.4rem;
    width: 100%;
}

.error__message {
    font-size: 12px;
    margin: 0;
}

.lable__box {
    position: absolute;
    left: 1.56rem;
    top: 1rem;
    font-size: 14px;
    cursor: text;
    color: var(--light-black);
    padding-inline: 2px;
    opacity: 10000;
    opacity: 0.9;
    font-weight: 500;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    /* font-family: var(--font-style) */
}

.input__field:focus ~ .lable__box,
.input__field:not(:placeholder-shown).input__field:not(:focus) ~ .lable__box {
    /* padding-inline: 5px; */
    /* background: #fff; */
    /* background: var(--card-background); */
    /* background-image: linear-gradient(rgb(245 245 245), #fff);; */
    left: 25px;
    top: -15px;
    font-size: 0.75rem;
    opacity: 10000;
}
.dropdown__option {
    /* background: white; */
    background: var(--main-white);
    box-shadow: var(--dropdown-shadow);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    position: absolute;
    top: 3.3rem;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    color: var(--main-black);
}
.option_li {
    padding: 5px;
}
.option_li:hover {
    background-color: var(--primary-light);
    color: var(--main-white);
}

.dropdown__bunddle {
    width: 100%;
    position: relative;
}

.dropdown__button {
    position: absolute;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}

.dropdown__lable {
    position: absolute;
    left: 14px;
}

.err_div {
    height: 0px;
    font-size: 14px;
}
