.dashboard_ctn_admin{
    --bs-gutter-x: 0rem !important;
    --bs-gutter-y: 0 !important;
}
.card-counter{
    /* box-shadow: 2px 2px 10px #DADADA; */
    box-shadow: var(--counter-card-shadow);
    margin: 5px;
    padding: 20px 10px;
    background-color: var(--main-white);
    height: 100px;
    border-radius: 5px;
  
  }

  .card-counter.primary{
    background-color: var(--info-main);
    color: var(--main-white);
    opacity: 0.6;
  }

  .card-counter.danger{
 
    color: var(--main-white);
    background: var(--error-light);
  }  

  .card-counter.success{
    
    background: var(--success-main);
    color: var(--main-white);
  }  

  .card-counter.info{
   
    background:var(--info-main);
    color: var(--main-white);
  }  

  .count-icon{
    font-size: 50px;
    opacity: 0.6;
  } 

  .card-counter .count-numbers{
    /* position: absolute; */
   font-size: 30px;
   line-height: 20px;
   /* margin-left: 180px; */

  }

  .card-counter .count-name{
    font-size: 20px;
    opacity: 0.5;
  }
  /* .Notification{
    box-shadow: 2px 2px 10px #DADADA;
  } */

  /* .notification-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
  } */
  /* .notification_name{
    font-size: 14px;
  }
  .notification_message{
    font-size: 10px;
  } */
  /* .notification_card{
    box-shadow: 2px 2px 10px #DADADA;
  } */
