.user_profile_card {
    /* box-shadow:  rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: var(--main-booking-card);
    /* height: 250px; */
    border-radius: 10px;
    /* padding: 4px; */
    /* background-image: url('../../../../assets/auth2.svg'); */
    background-image: var(--card-background-illutration);
    background-color: var(--card-background);
    background-repeat: no-repeat;
    background-size: 170%;
}
.admin_profile_card {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 110px;
}
.iiiimmmgggg {
    margin-top: 10px;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}
.user_profile_label {
    font-size: 14px;
    color: var(--dark-gray);
    font-weight: 600;
}
.user_profile_details {
    font-size: 14px;
    color: var(--default-black);
    font-weight: 600;
}
.icon_and_details {
    font-size: 20px;
}
.data_row_bottom {
    border-right: 2px solid var(--dark-gray);
}
.userCard_horizantal_line {
    margin-top: 8px;
    border-bottom: 1px solid var(--dark-gray);
}
.user_action_btn {
    /* background-color: var(--info-light) !important; */
    background-color: var(--primary-main) !important;
    color: var(--main-white) !important;
    /* opacity: 0.2; */
}
.user_action_btn:hover {
    background-color: var(--primary-dark) !important;
    color: var(--main-white) !important;
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
    .iiiimmmgggg {
        margin-top: 10px;
        height: 150px;
        width: 120px;
        border-radius: 10%;
    }
}
