.admin_vehicle_ctn_main {
    margin: 0px;
    /* height: calc(100vh - 54px); */
}
.admin_vehicle {
    /* margin: 0px; */
    min-height: calc(100vh - 355px);
    max-height: calc(100vh - 355px);
}

.card {
    text-align: center;
    /* padding: 20px 25px 5px; */
    margin-top: 15px;
    border-radius: 20px 20px;
    /* box-shadow: 2px 2px 10px #dadada; */
    /* box-shadow: var(--counter-card-shadow); */
    font-size: large;
}

.icon {
    padding-right: 30px;
    font-size: x-large;

    color: var(--primary-main);
}
.Aicon {
    padding-right: 30px;
    font-size: x-large;

    /* color: green; */
    color: var(--success-main);
}
.Ricon {
    padding-right: 30px;
    font-size: x-large;

    color: var(--dark-golden);
}
.Dicon {
    padding-right: 30px;
    font-size: x-large;

    color: var(--main-red);
}
.nodata_img_div {
    height: calc(100vh - 500px);
}
.nodata_img {
    max-height: 400px;
    max-width: 400px;
}
