.table_profile_img {
    min-height: 60px;
    max-height: 60px;
    min-width: 60px;
    max-width: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.table {
    /* vertical-align: center !important; */
    vertical-align: auto !important;
}

.table-container {
    max-height: 700px; /* Adjust the height based on your requirements */
    min-height: 700px; /* Adjust the height based on your requirements */
    overflow-y: auto;
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.03) !important;
}

/* .table thead th {
   
    background-color: var(--card-background);
    color: var(--primary-dark);
} */