/* .car_clas {
    height: 47px;
    width: 100px;
    border-radius: 10px;
}

.main_div {
    padding: 15px;
    background: var(--primary-main);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 20px;
}

.shado_search {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.first_box {
    width: 70px;
    height: 70px;
    border-radius: 12%;
    background-color: rgba(137, 43, 226, 0.31);
} */
