/* Tabs Css */
.tab_container {
    width: 100%;
    /* padding-block: 12px; */
    /* padding-top: 5px; */
    color: var(--main-white);
    /* border-radius: 10px; */
    /* box-shadow: var(--main-boxshadow);*/
    background-color: var(--background); 
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}

.tab_btn {
    background: transparent;
    padding: 4px 10px;
    /* border-radius: 8px; */
    min-width: 117px;
    font-size: 14px;
    color: var(--primary-main);
    /* border: 2px solid var(--primary-main); */
    /* border-bottom: 2px solid var(--primary-main); */
    
}
.tab_btn:hover {
    /* background: var(--primary-dark); */
    /* color: var(--main-white); */
    color: var(--primary-dark);
    border-bottom: 2px solid var(--primary-dark);
}

.active_tab {
    /* background: var(--primary-dark); */
    color: var(--primary-dark);
    border-bottom: 2px solid var(--primary-dark);
}
.add_new_btn {
    background: transparent;
    padding: 9px 24px;
    border-radius: 8px;
    min-width: 117px;
    font-size: 15px;
    color: var(--primary-main);
    border: 2px solid var(--primary-main);
}
.add_new_btn:hover {
    background: var(--primary-dark);
    color: var(--main-white);
    border: 2px solid var(--primary-dark);
}
/* Disabled style */
.page-tabs-container.disabled {
    opacity: 0.6; /* Adjust the opacity as per your preference */
    cursor: not-allowed;
}

.add-new-btn.disabled,
.tab-btn.disabled {
    cursor: not-allowed;
    background-color: #ccc; /* Adjust the background color for a disabled look */
    color: #666; /* Adjust the text color for a disabled look */
}

/*responsiv work */
@media screen and (max-width: 666px) {
    .tab_btn {
        background: transparent;
        padding: 4px 10px;
        border-radius: 8px;
        min-width: 50px;
        width: 30px;
        font-size: 7px;
        color: var(--primary-main);
        border: 2px solid var(--primary-main);
    }
}

@media screen and (max-width: 450px) {
    .tab_btn {
        background: transparent;
        padding: 4px 8px;
        border-radius: 8px;
        min-width: 40px;
        width: 40px;
        font-size: 5px;
        color: var(--primary-main);
        border: 2px solid var(--primary-main);
    }
}

.table-card-view{
  color: var(--primary-dark);
}
.table-card-view-active{
  border-bottom: 2px solid var(--primary-dark);
}



/* 

.container {
     position: absolute;
     left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tabs * {
    z-index: 2;
  }

  input[type="radio"] {
    display: none;
  }
  
  .tabs {
    display: flex;
    position: relative;
    background-color: #f0f0f0;
    box-shadow: 0 0 1px 0 #006effdd, 0 6px 12px 0 #000080;
    padding: 0.75rem;
    border-radius: 50px;
  }
  
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 50 px;
    cursor: pointer;
    transition: color 0.15s ease-in;
  }
  
  input[type="radio"]:checked + label {
    color: #111;
  } */
/*   
  .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    margin-left: 0.75rem;
    border-radius: 50%;
    background-color: #8d9499;
    transition: 0.15s ease-in;
    Fix the transition property
  }
   
  input[type="radio"]:checked + label > .notification {
    background-color: #111;
    color: #f0f0f0;
  }
  
  .glider {
    position: absolute;
    display: flex;
    height: 20px;
    background-color: #8d9499;
    z-index: 1;
    border-radius: 50px;
    transition: 0.25s ease-out;
  }

  input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
  }
  
  input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
  }
  
  input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
  }
  
  @media (max-width: 700px) {
    .tabs {
      transform: scale(0.6);
    }
  }
   */