.home_ctn{
    --bs-gutter-x: 0rem !important;
}
.header {
    /* position: fixed; */
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
}
.header_logo{
    height: 100px;
    width: 150px;
    
}
.login_btn {
    display: inline-block;
    position: relative;
    background: transparent;
    font-size: 20px;
}
.login_btn:hover{
    color: var(--primary-main);
   
}
.login_btn::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.login_btn:hover:after{
 
    transform: scaleX(1);
    transform-origin: bottom left;
}
.landing_page_btn {
    background-color: var(--primary-main);
    color: var(--main-white);
    height: 40px;
    /* width: 110px; */
    font-size: 18px;
    /* margin-right: 100px; */

    padding: 8px 20px;
    border-radius: 8px;
    margin-right: 40px;
    /* font-weight: 500; */
}
.landing_page_btn:hover{
  background: var(--primary-dark);
}
.language_btn{
    width: 100px;
    
}
.landing_page_body {
    margin-top: -100px;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    color:var( --default-black);
    /* background: url(https://purepng.com/public/uploads/large/purepng.com-blue-jaguar-f-type-luxury-sports-carcarvehicletransportjaguarsports-carluxury-car-9615246508952odg6.png); */
}
.landing_page_body_text {
    /* margin: 100px; */
    /* margin-top: -10px; */
}
.paragrap_text {
    color: var(--light-black);
}
.main_subheading{
    font-size: 18px;
}
.landing_page_body_img {
    /* height: 450px;
    width: 100%; */
    /* height: 350px; */
    width: 100%;
}

@media screen and (min-width: 776px) and (max-width: 1150px) {
    .main_subheading{
       font-size: 10px;
    }
    .main_text{
        font-size: 10px;
    }
}

.form_ctn {
    margin-top: -150px;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 1rem;
    position: relative;
    /* left: 100px; */
    padding-inline: 20px;
    border-radius: 8px;
    /* width: min-content; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        width: 58%;
        height: 95px;
        background-color: #FFFFFF;
}

.form_ctn_1{
    /* margin-top: -150px; */
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 1rem;
    position: relative;
    /* left: 100px; */
    /* padding-inline: 20px; */
    border-radius: 8px;
    /* width: min-content; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        /* width: 58%;
        height: 95px; */
        background-color: #FFFFFF;
   
}

.Search_btn{
    background-color: var(--primary-main);
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-left: 20px;
    cursor: pointer;
}
.searchbar_btn {
    background-color: var(--primary-main);
    color: white;
    padding: 10px;
    width: 110px;
    border-radius: 0.5rem;
    font-size: 19px;
    margin-left: 30px;

}
.searchbar_btn:hover{
    background-color: var(--primary-dark);
}
.ride_main_ctn {
    color: black;
    text-align: center;
    /* margin-top: 110px; */
}
.ride_ctn {
    margin-top: 50px;
    gap: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, auto)); */
}
.start_bg{
    font-size: 900px;
    color: var(--primary-main);
    opacity: 0.2;
}
.ride_ctn .box {
    width: 400px;
    text-align: center;
    padding: 20px;
    justify-content: center;
    /* display: flex; */
}
.box_icon {
    width: 100px;
    text-align: center;
    font-size: 33px;
    padding: 10px;
    color: var(--primary-main);
    background-color: #edf5ff;
    border-radius: 0.5rem;
}
/* .box_icon :hover{
    background: var(--primary-main);
    color: white;
} */
.middle_ctn {
    margin-top: 120px;
}
.silver_img {
    margin-top: 50px;
    height: 450px;
    /* width: 100%; */
    /* padding-top: 50px; */
}
.image_div{
    margin-top: 120px;
}
.middle_ctn_text {
    width: 600px;
}
.why_text {
    /* background-color:rgb(213, 244, 253); */
    width: 200px;
    background-color:  #edf5ff;
    color: var(--primary-main);

    border-radius: 0.5rem;
    padding: 10px 25px;
}
.block_text{
    color: black;
}
.footer_ctn{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 300px;
    background:#061c34 ;
    color: #fff;

}

/* .footer_ctn_1{
    display: flex;
    justify-content: center;
    justify-content: space-between;
   
    width: 100%;
    background:#061c34 ;
    color: #fff;

} */

.footer_ctn_1{
    /* display: flex;
    justify-content: center;
    justify-content: space-between;
   
    width: 100%; */
    background:#061c34 ;
    color: #fff;

}

.footer_logo{
    /* margin-top: -45px; */
    height: 72px;
    width: 140px;
}
.footer_heading{
    font-size: 20px;
    
}
.footer_icon{
    font-size: 35px;
}
.input_touch{
    background: transparent;
    border: 1px solid #fff;
    color: #FFFFFF;
    caret-color: #FFFFFF;
    height: 30px;
}
/* .input_icon{
    margin-top: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    width: 65%;
    border-radius: 4px;
    background: transparent;
} */
/* .input_icon {
    border: none;
    outline: none;
    padding: 4px;
    margin-left: 2px;
    background-color: #061c34;
    border-color: #fff;
} */
.search_icon{
    font-size: 20px;
    cursor: pointer;
    margin-left: -25px;
}









.main_logo{
    margin-left: 100px;
}
.main_button{
    margin-right: 40px;
}




/* h1 {
    font-size: 2em; 
  } */


@media screen and (min-width: 250px) and (max-width: 550px) {
     .section_four_main_heding{
        font-size: 10px;
     }
     .main_logo{
        margin-left: 0px;
    }
    .image_div{
        margin-top: 0px;
    }
    .silver_img {
        margin-top: 0px;
        height: 400px;
       
    }
    h1 {
        font-size: 2.5em;
      }
  }
  @media screen and (min-width: 500px) and (max-width: 980px) {
    .image_div{
        margin-top: 0px;
    }
    .silver_img {
        margin-top: 0px;
        height: 400px;
       
    }
  }